<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Missions</title>
  </head>
  <%- include('../partials/head') %> <%- include('../partials/header') %>

  <body>
    <ul>
      <% missions.forEach((assignment) => { %>
      <li>
        <h2>Mission:</h2>
        <ol>
          <h3>Goal:</h3>
          <p><%=assignment.goal %></p>
        </ol>
        <ol>
          <h3>Rank:</h3>
          <p><%=assignment.rank %></p>
        </ol>
        <ol>
          <h3>Position:</h3>
          <p><%=assignment.position %></p>
        </ol>
      </li>
      <hr />
      <% }); %>
    </ul>
  </body>
  <%- include('../partials/footer') %>
</html>
